.photo-list__item {
  margin: 12px;
  padding: 4px;
  border-width: 0.5px;
  border-color: lightgray;
  border-style: solid;
  border-radius: 8px;
  max-width: fit-content;
}

.photo-list__image {
  border-radius: 8px 8px 0px 0px;
  user-select: none;
  width: 150px;
  height: 100px;
  object-fit: cover;
}

.photo-list__user-profile {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 8px;
  width: 25px;
  height: 25px;
}

.photo-list__user-details {
  display: flex;
  align-items: center;
}

.photo-list__user-info {
  font-weight: 700;
  font-size: 6px;
}

.photo-list__user-location {
  color: #838383;
}